<ion-view view-title="" class="mybonds">
  <ion-nav-bar class="bar-positive sh-center-v">
    <ion-nav-back-button ng-click="MyBonds.myGoBack()">
    </ion-nav-back-button>
    <ion-nav-title>
      <div class="sh-center-h">
        <div class="sh-center-v">
          <button class="sh-bar-button">
            <img src="img/logo-home.png">
          </button>  
        </div>
      </div>
    </ion-nav-title>
    <ion-nav-buttons side="right" class="sh-center-h">
      <button class="button button-icon button-clear ion-search sh-right-button" ui-sref="app.search"></button>
      <button class="button button-icon button-clear ion-ios-cart sh-right-button" ui-sref="app.cart" >
        <span class="badge badge-positive" style="position: absolute;top: 15px;right: -5px;background-color: #81213F;">{{$storage.countShop}}</span>
      </button>
    </ion-nav-buttons>
    <div class="sh-url sh-center-v">
      <p>
        Mis bonos
      </p>
    </div>
  </ion-nav-bar>
  <ion-content class="has-header sh-gray-bg">
    <div class="list">
      <div class="item item-thumbnail-left item-icon-right sh-center-v" ng-repeat="bond in MyBonds.bondsCom">
        <img src="{{MyBonds.urlImage}}{{bond.logo}}">
        <h2>{{bond.codigo}}</h2>
        <i class="icon ion-printer" ng-click="MyBonds.print(bond.codigo)"></i>
        <i class="icon ion-email" ng-click="MyBonds.sendMail(bond.codigo)"></i>
      </div>
    </div>
  </ion-content>
</ion-view>
