<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <button class="button" ng-click="modal.hide()">
      <div class="row row-center">
        <i class="icon ion-chevron-left"></i>
      </div>
    </button>
  </ion-header-bar>
  <ion-content class="padding" id="contentModal">
    <h3>Introducción</h3>
    <p>Los riesgos que incorporan el uso de las Tecnologías de la Información y las Comunicaciones
      para la intimidad de los usuarios de éstas, determinan que quienes realizan actividades de
      comercio electrónico, propendan por mitigar los mismos adoptando políticas y normas que
      respeten los derechos de las personas y fomenten la confianza de los consumidores.</p>
    <p>Nuestra estrategia de negocios en Internet, además de adoptar las medidas informáticas para
      propender por la seguridad, incorpora además del cumplimiento de la ley colombiana, buenas
      prácticas internacionales para el tratamiento seguro de la información personal.</p>
    <p>Por estas razones, Intap S.A.S., titular de la plataforma informática Shapp, actuando de manera
      responsable, transparente, legitima, y honesta frente a la sociedad, comunica al público estos
      términos de uso y adopta un código de comportamiento ético, directrices que habrán de
      regular la operación de nuestro portal, constituyéndose éstas en su marco regulador.</p>
    <p>Shapp es una aplicación informática a través de la cual la comunidad empresarial (en adelante
      los CLIENTES) podrán comunicar al público información relacionada con los productos
      (bienes o servicios) ofrecidos, ofertas, publicidad y demás información de índole comercial. La
      información comunicada es responsabilidad absoluta de los CLIENTES.</p>
    <p>La no aceptación de estas Condiciones y Políticas por parte de los potenciales usuarios del
      mismo impedirá el uso de esta plataforma y toda actividad en Shapp. Así mismo, cualquier
      infracción a estos términos acarreará como consecuencia la exclusión o salida del infractor de
      esta plataforma.</p>
    <p>Rogamos leer con detenimiento las condiciones de uso, régimen de derechos y obligaciones de
      las partes y demás términos que se enuncian a continuación, los cuales constituyen el marco
      que habrá de regular la relación contractual entre quienes decidan usar Shapp y el titular de esta
      aplicación, en adelante APP.</p>
    <h3>Objetivo de Shapp</h3>
    <p>Esta Aplicación (en adelante APP) pone al servicio del mercado, entiéndase potenciales
      consumidores y comunidad empresarial, una herramienta para comunicar información sobre
      productos de importantes marcas, tales como ofertas, promociones, alianzas comerciales,
      descuentos y demás información de carácter comercial que permita mantener a quienes usan
      esta APP acorde a sus gustos, tendencias y preferencias.</p>
    <p>Agradecemos que seas usuario de Shapp y valoramos todos los aportes que nos realices, los
      cuales se entienden son realizados de manera gratuita sin derecho a que realicemos
      contraprestación económica alguna o a que exista una obligación económica por nuestra parte.</p>
    <h3>Proceso de Registro</h3>
    <p>La persona interesada en usar Shapp puede hacerlo ingresando a través del nombre de usuario y
      contraseña del que sea titular en una red social como Facebook, Google+, u otra similar o haciendo
      el registro de manera directa, según su preferencia.</p>
    <p>La información personal de quien use Shapp es necesaria para efectos de tener claridad sobre
      nuestros usuarios en aras de satisfacer sus intereses, así como para garantizar sus derechos y
      los correspondientes a terceros, según el caso.</p>
    <p>Se informa a la persona que ingresa con su nombre de usuario y contraseña de una red social,
       que para efectos de registro y uso de Shapp se accederá a los datos personales allí registrados,
       los cuales serán tratados para completar el proceso de registro, mantenerlos actualizados y
       cumplir con las finalidades que adelante se indican.</p>
    <p>El titular de Shapp en su calidad de administrador de esta se reserva el derecho de mantener
      vigente el registro de un usuario cuando este no haya suministrado información veraz, cuando
      trate la información en forma contraria a los usos honestos que debe darse a ella o cuando
      incumpla los términos aquí contenidas o cualquiera de las obligaciones, deberes y cargas que
      adquiere al momento de registrarse en Shapp.</p>
    <h3>Derecho a la Intimidad Personal,  Habeas Data y Protección de Datos Personales</h3>
    <p>El proceso de recolectar y tratar datos personales de nuestros usuarios respeta el derecho
      a la intimidad y garantiza el ejercicio del habeas data de las personas, actividad que se
      realiza con sujeción a la Constitución Política de Colombia así como a los más altos estándares
      internacionales en materia de protección de datos personales.</p>
    <h3>Finalidad de la Información a tratar</h3>
    <p>Los datos personales a tratar que se recolectan, desde el momento del registro y durante el
      uso de Shapp, y que son suministrados por el usuario de forma libre, voluntaria y autónoma,
      tienen como finalidad comunicar a nuestros usuarios información comercial, publicitaria y de
      mercadeo relacionada con los productos (bienes y servicios) ofrecidos por la comunidad
      empresarial que contrate nuestra plataforma, conforme los términos aquí pactados. Para el
      cumplimiento de esta finalidad y así satisfacer las necesidades e intereses de nuestros
      usuarios y clientes podremos acudir a herramientas informáticas que permitan hacer un análisis
      predictivo y/o prospectivo de gustos, tendencias y preferencias.</p>
    <h3>Tratamiento de la Información</h3>
    <p>El titular de Shapp es responsable del tratamiento de la información personal recolectada y/o
      accedida, responsabilidad que podrá delegar en un tercero, asegurando contractualmente la
      seguridad de la información personal confiada. Los datos e información recolectada en nuestras
      bases de datos serán objeto de análisis para fines de mejorar nuestra estrategia de negocios,
      apoyada en herramientas de inteligencia de negocios y analítica que permiten adquirir
      conocimientos prospectivos para fines de conocer gustos, tendencias, preferencias, predicción,
      clasificación y segmentación. El análisis de la información y el valor agregado que generemos
      a ésta se hará con estricto respeto a los derechos de usuarios y clientes, quienes con nuestros
      aliados de negocios dispondrán de una APP que responda a las necesidades de oferta y demanda de
      productos tanto en el mundo físico como en  el virtual.</p>
    <p>En caso de fusión, escisión, adquisición, venta o cualquier otro negocio jurídico relacionado
      con la unidad de negocios de Shapp, la persona física o jurídica involucrada en estos actos
      jurídicos también tendrá la calidad de responsable del tratamiento de los datos personales.</p>
    <h3>Responsabilidad y Veracidad de la Información</h3>
    <p>Shapp parte de la buen fe contractual y presume que los datos personales registrados o a los
      que se accede son veraces y fidedignos, por tanto, es de absoluta responsabilidad del titular
      que sean exactos o se mantengan actualizados. En consecuencia, los usuarios serán responsables
      por cualquier dato inexacto, falso o carente de veracidad que suministre, circunstancia que
      podrá dar lugar a resarcir los perjuicios que llegare a causar con este comportamiento a
      Shapp y/o terceros. La persona que use datos personales que no sean propios será responsable
      de las sanciones que la ley colombiana establece.</p>
    <h3>No recolectamos información financiera</h3>
    <p>Shapp durante el proceso de registro no solicitará información de tarjetas crédito ni débito,
      por tanto, si en algún momento observa que durante el registro se está requiriendo este tipo
      de información, le rogamos abstenerse de suministrarla y reportar esta situación de manera
      inmediata al siguiente correo: <a href="mailto:shapp@intap.com.co">shapp@intap.com.co</a></p>
    <h3>Ejercicio del Habeas Data</h3>
    <p>El usuario de Shapp en su condición de titular de los datos personales recolectados podrá
      ejercer su derecho de conocer, actualizar, rectificar y cancelar los datos personales existentes
      en la(s) base(s) de datos asociados a Shapp. Para ello deberá seguir los procedimientos definidos
      en la plataforma informática usando el nombre de usuario y contraseña autoasignados durante el
      procedimiento de registro. También podrá hacerlo dirigiendo su comunicación al siguiente correo
      electrónico: <a href="mailto:shapp@intap.com.co">shapp@intap.com.co</a> o la siguiente dirección
      física Carrera 43 A # 1 Sur- 188 Oficina 1007 Poblado, Medellín, Colombia.</p>
    <h3>Transferencia Internacional de Datos Personales</h3>
    <p>Es factible que la infraestructura que soporte el funcionamiento de Shapp este localizada fuera
      de territorio colombiano. No obstante, Shapp garantizará que los datos personales se almacenen
      en países que sean considerados como territorio seguro para el tratamiento de datos personales,
      de tal forma, que la infraestructura que almacene estos datos estará en países reconocidos por
      Colombia y la Unión Europea como países seguros. La aceptación de estos términos de uso autoriza
      el tratamiento internacional de datos, y de manera excepcional y transitoria a países no
      considerados seguros mientras se supera cualquier problema técnico con el proveedor de la
      infraestructura. </p>
    <h3>Compartir Información</h3>
    <p>Shapp en la relación contractual con la comunidad empresarial que usa nuestra APP para comunicar
      información sobre sus productos entregará información estadística sobre el número de usuarios
      que opinan sobre sus productos, promociones, tendencias, gustos y demás información asociada
      a estos conforme la finalidad del tratamiento aquí informada. Shapp no entregará información
      personal de nuestros usuarios a la comunidad empresarial que usa esta plataforma.</p>
    <p>Shapp con el fin de optimizar el proceso de conocimiento de los usuarios de esta APP podrá
      celebrar acuerdos con terceros que permitan a estos de manera condicionada acceder a los datos
      personales, quienes previamente deberán garantizar la seguridad de tales datos personales.
      Así mismo, la persona usuaria de Shapp al aceptar estos términos y condiciones autoriza a la
      cesión de sus datos personales a terceros.</p>
    <p>Shapp podrá disponer de ambientes que permitan que los usuarios informen de manera pública o
      privada sus ideas, preferencias, gustos, hábitos y demás datos en ejercicio de su libertad de
      expresión. La información que el usuario decida comunicar en ejercicio de su derecho a informar
      y a la libre expresión en el ambiente público será conocida por la comunidad de usuarios de Shapp,
      aspecto que entiende y acepta el usuario al aceptar estos términos y condiciones. El usuario,
      siguiendo el procedimiento establecido en este portal, retractarse de la información que ha
      decidido comunicar de manera pública. Shapp realizará los esfuerzos orientados a lograr que
      tal información sea eliminada; no obstante, no puede garantizar Shapp que tal información una
      vez fue publicada siga siendo usada por terceros fuera de la plataforma Shapp.</p>
    <p>Dentro del libre desarrollo de la actividad económica podremos realizar acuerdos con terceros
      orientados a potencializar y mejorar nuestro modelo de negocios, pudiendo ser factible que
      compartamos datos personales con estos aliados, caso en el cual la aceptación de estos términos
      constituye una autorización expresa para este tipo de tratamiento.</p>
    <h3>Publicidad</h3>
    <p>Shapp conforme al objetivo y finalidad del tratamiento de datos personales podrá comunicar
      información comercial y publicitaria, identificándola como tal, a los usuarios de Shapp quienes
      lo autoriza al momento de registro, cualquiera que haya sido la opción seleccionada, y/o al
      momento de validación y actualización de sus datos. La información comercial y publicitaria
      que se remita será leal e indicará las condiciones en las cuales proceda una oferta, rebaja,
      concurso o premio.</p>
    <p>El mensaje de datos que trasmita información comercial o publicitaria al usuario de Shapp en
      los términos aquí expresados, ofrecerá la posibilidad de darse de baja o de cancelar la
      recepción de tal información. </p>
    <p>Shapp no es responsable del contenido de la publicidad que remitan sus clientes, pues estos
      gestionan y definen de manera unilateral sus ofertas y condiciones de comerciales de sus
      ofertas y productos. Cualquier reclamación o queja deberá ser dirigida al cliente que comunique
      un oferta u ofrezca sus productos a través de Shapp.</p>
    <h3>Registro de menores de edad como usuarios</h3>
    <p>Shapp, en cumplimiento de la ley 1098 de 2006 sobre infancia y adolescencia, y del derecho
      de asociación y de información en armonía con lo dispuesto en la Ley 1581 de 2012 sobre
      Protección de Datos Personales, reconoce que los menores de edad mayores de 14 años tienen
      la posibilidad de que éstos adquirieran la condición de usuarios de Shapp, con las limitaciones
      que impone la norma en materia de contratación. Lo anterior sin perjuicio de las decisiones
      que adopten sus padres, tutores o representantes.</p>
    <p>Shapp asume la obligación de respetar y brindar las garantías para que los menores de edad,
      que tengan la condición de usuarios autorizados de nuestro portal web, puedan ejercer su derecho
      de libertad de expresión, de libre desarrollo de la personalidad y de información, como lo
      consagra la ley 1098 de 2006.</p>
    <p>En cumplimiento de la normatividad colombiana respecto de menores de edad (niños y adolescentes)
      y del proceder responsable a que está obligada Shapp para con la sociedad, asumimos los siguientes
      compromisos:</p>
    <p>- Excluir de nuestro sistema de información a cualquier persona menor de 14 años de edad, que
      haya afirmado tener una edad superior a está, en el momento de registrarse como usuario. <br>
      - Dar a conocer a las autoridades de cualquier situación delictiva de la que tenga conocimiento
      que ponga en peligro la integridad de un menor de edad. Para ello brindara toda la colaboración
      que requieran los órganos de seguridad del Estado. </p>
    <h3>Responsable de Shapp</h3>
    <p>Shapp es una unidad de Negocios de Intap S.A.S., quien ostenta la titularidad de los derechos
      patrimoniales de autor respecto de la plataforma informática que soporta la APP y como responsable
      del tratamiento de datos personales. La APP como programa informático que es protegido bajo el
      régimen de derechos de autor puede ser objeto de transacciones económicas, de tal manera que el
      cambio en la propiedad de Shapp  o el desarrollo de obras derivadas cuyos derechos se transfieran
      a terceros pueden dar lugar al cambio de responsabilidad de Intap S.A.S., como titular de los
      derechos de autor, así como al cambio de la responsabilidad en materia del tratamiento de datos
      personales cuando un tercero adquiera de forma parcial o total la unidad de negocios; caso en el
      cual los datos serán tratados por este tercero como responsable.</p>
    <h3>Solución de controversias</h3>
    <p>Shapp promoverá que cualquier controversia que surja como consecuencia del uso de esta APP,
      sea resuelta de manera amigable, para ello expresa la disposición de atender cualquier queja,
      petición o reclamo que los usuarios llegaran a presentar al respecto.</p>
    <h3>Colaboración con autoridades</h3>
    <p>Shapp expresa de manera irrevocable su compromiso de colaborar con las autoridades nacionales
      o internacionales cuando estas lo requieran, evento en el cual procederá en la manera como la
      ley lo establezca, siempre y cuando ello no viole ninguna garantía constitucional vinculada a
      las libertades públicas de sus usuarios y clientes. En caso de duda Shapp se someterán a las
      decisiones que ordenen las autoridades Colombianas.</p>
    <p>En este sentido, cuando las autoridades competentes en cumplimiento de la ley lo soliciten y
      sea procedente y pertinente la información solicitada, Shapp entregará la requerida, advirtiendo
      el deber de seguridad que sobre la misma deben asumir estas autoridades.</p>
      <br>
      <div class="center">
        <button ng-click="Register.acceptTerms()" class="button sh-inside-button button-small">Acepto</button>
      </div>
  </ion-content>
</ion-modal-view>
