.myshapp{
  .sh-brands-container{
    justify-content:  space-around;
  }
  .sh-brand{
  	@extend .sh-item;
  	width: 30vw;
  	height: 30vw;
  	margin: 5px 1vw 5px 1vw;
  }
  .has-header {
    top: 80px;
    @media (min-width: 650px) {
      top: 100px !important;
    }
  }
}
.sh-url{
  height: 40px;
  background-color: $positive2;
  z-index: 10;
  margin-top:44px;
  p{
    margin-top: 8px;
    color: white;
    font-size: 20px;
    width: 100%;
    text-align: center;
  }
}
.platform-ios{
  .myshapp{ 
    .sh-url{
      margin-top: 64px;
      @media (min-width: 650px) {
        margin-top: 80px;
      }
    }
    .has-header{
      top: 104px !important;
      @media (min-width: 650px) {
        top: 120px !important;
      }
    }
  }
}
