<ion-view view-title="" class="category">
  <ion-nav-bar class="bar-positive sh-center-v">
    <ion-nav-back-button ng-click="Category.back()">
    </ion-nav-back-button>
    <ion-nav-title>
      <div class="sh-center-h">
        <div class="sh-center-v">
          <button class="sh-bar-button">
            <img src="img/logo-home.png">
          </button>  
        </div>
      </div>
    </ion-nav-title>
    <ion-nav-buttons side="right" class="sh-center-h">
      <button class="button button-icon button-clear ion-search sh-right-button" ui-sref="app.search"></button>
      <button class="button button-icon button-clear ion-ios-cart sh-right-button" ui-sref="app.cart" >
        <span class="badge badge-positive" style="position: absolute;top: 15px;right: -5px;background-color: #81213F;">{{$storage.countShop}}</span>
      </button>
    </ion-nav-buttons>
    <div class="sh-url sh-center-v">
      <p>
        Categorías
      </p>
    </div>
  </ion-nav-bar>
  <ion-content class="has-header sh-gray-bg" style="top:80px">
    <div class="sh-brands-container">
      <span ng-repeat="category in Category.category">
        <div class="sh-brand" ng-style="{'background-image':'url({{Category.urlImage}}{{category.urlImg}})'}"
          ng-click="Category.showBrand(category)"></div>
      </span>
    </div>
  </ion-content>
</ion-view>
